* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Facebook */

html {
  background-color: #f0f2f5; 
}

/* Page Content */

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap; 
}

.elements {
  width: 48%;
}

.introduction-of-facebook {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  white-space: nowrap;
}

/* Log In/Sign Up Box */

.white-box {
  width: 370px;
  height: 320px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: h-offset v-offset blur spread color;
}

.text-boxes {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  box-sizing: border-box;
}

.text-box {
  width: 90%;
  height: 55px;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #f0f2f5;
}

.log-in {
  width:90%;
  padding: 4px 0;
  background-color: #1877f2;
  line-height: 48px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.forgotten-password {
  font-family:  Helvetica, Arial, sans-serif;
}

hr {
  width: 90%;
  color: grey;
}

.create-new-account {
  width:60%;
  margin: 4px 0;
  padding: px 0;
  background-color: rgb(47, 204, 47);
  line-height: 48px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
}